.bg-primary {
    background-color: #ffaf40 !important;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgb(0, 156, 167);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}
p {
    padding-bottom : 100 px !important;
    color:black;
}
h5{
    color:black;
}
/* body {
  padding-top: 10rem;
} */
.brand{
    height: 50px;
    padding: 10px;
    background-color: #ffaf40 !important;
    font-family: TrashHand;
    font-size: 16pt;
}
#logoae{
    float: left;
    position: relative;
    bottom: 30px;
}

.fix{
    position:fixed;
    bottom:0px;
    left:77%;
    width: 40%;
    z-index: -1;
    /* opacity: 0.5; */
}


@font-face {
    font-family: TrashHand;
    src: url('/fonts/Titre/TrashHand.TTF');
}
@font-face {
    font-family: CalibreRegular;
    src: url('/fonts/Calibre-Regular.otf');
}
.blockquote{
    font-family: TrashHand;
    font-size: 14pt;
}
#carouselExampleIndicators{
    font-family: CalibreRegular;
    font-size: 12pt;
}
.sl{
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}
article{
    font-family: CalibreRegular;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.vbuffer{
   height: 15px;
}
.action-pic{
    border-top: #ffaf40 2px solid;
    border-bottom: #ffaf40 2px solid;
    border-left: #ffaf40 2px solid;
    border-right: none;
    margin-bottom: 15px;
}
.action-detail{
    border-top: #ffaf40 2px solid;
    border-bottom: #ffaf40 2px solid;
    border-right: #ffaf40 2px solid;
    border-left: none;
    margin-bottom: 15px;
}