
extends layout.pug
block title
    title=titre
block content
    h5.blockquote Camps de Base :
    p les camps de base permettent d’approfondir les pratiques de scoutisme et d’ancrer les projets pédagogiques dans les enjeux écologiques, économiques et culturels du développement durable. Ces lieux d’aventure permettent de rencontrer d’autres unités, de découvrir ou d’approfondir des techniques utiles à la construction d’un monde meilleur. Ce sont également des lieux où on peut trouver du soutien à la direction, de la formation etc...