extends layout.pug
block title
    title=titre
block content
    .alert.alert-info
        h5 Liste des événements :
    .row
        each elt in list
            .col-md-3
                figure.animated.bounceInUp
                    a(href=elt.cheminaffiche, style='cursor:zoom-in')
                        img.img.img-fluid.img-responsive(src="/docs/evenements/min/"+ elt.cheminminiature )
                    figcaption
                        a.btn.btn-info(href=elt.lien) Le guide &nbsp;&nbsp;
                            i.fa.fa-download
                        a.btn.btn-success(href=""+elt.chemininvitation) Les invitations &nbsp;&nbsp;
                            i.fa.fa-download

