extends layout.pug
block title
    title=titre
block content
    style=paddingvalue
    h3 Envoyer d'abord une image représentative
    .row
      .col-md-6
        form#fileform(enctype='multipart/form-data')
          input.form-control-file(type='file', name='filetoupload', accept='image/x-png,image/gif,image/jpeg')
          br
          input#upload.btn.btn-primary(type='button', value='Upload')
          img#preview(src='', width='100px')
      .col-md-6
        progress.progress(value='0', max='100')
        img#preview(src='', width='100px', hidden='') 
    h3 Décrire votre action sur ce formulaire :
    .row
      form#descriptionaction(action="" method="POST")
        input(name="token" hidden value=token)   
        label(for="groupname") Nom de groupe
        input.form-control(type="text" name="libelle" id="groupname" required)
        label(for="branche") Tranche d'âge / branche
        input.form-control(type="text" name="branche" id="branche" required)
        label(for="descprojet") Description du projet
        textarea.form-control(cols="30", rows="10" name="descprojet" id="descprojet" required)
        label(for="lieu") Lieu
        input.form-control(type="text" name="lieu" id="lieu" required)
        label(for="partenaires") Partenaires
        input.form-control(type="text" name="partenaires" id="partenaires" required)
        label(for="contactmail") Contact (mail)
        input.form-control(type="mail" name="contactmail" id="contactmail" required)
        button.btn.btn-primary(type="button") Enregistrer &nbsp;
            i.fa.fa-save 
        button.btn.btn-success(type="reset") Effacer &nbsp;
            i.fa.fa-recycle 
block javascript
  script(src='/js/scriptfileupload.js')
