//- layout.pug
html
    head
        block title
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block scripts
            link(rel="stylesheet", href="/asset/css/bootstrap.css")
            link(rel="stylesheet", href="/asset/css/style.css")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js")
            script(src="/asset/js/script.js")
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
            link(rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")
            link(rel="stylesheet" href="/asset/css/animate.css")
    body
        header
            .brand.text-center
                h1 LES ECLAIREUSES ECLAIREURS DE FRANCE VOUS INVITENT A VIVRE
        block navmenu
            .bs-docs-section.clearfix
                .bs-component
                    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
                        img#logoae(src='/asset/img/alteregaux logo.png', alt='logo alter egaux', width=widthValue)
                        a.navbar-brand(href='#')
                        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
                            span.navbar-toggler-icon
                        #navbarColor01.collapse.navbar-collapse
                            ul.navbar-nav.mr-auto
                                li.nav-item
                                    a.nav-link(href='/')| Accueil
                                li.nav-item
                                    a.nav-link(href='/projet') Le projet
                                li.nav-item
                                    a.nav-link(href='/histoire') Histoire
                                li.nav-item
                                    a.nav-link(href='/outils') Outils de Comm'
                                li.nav-item
                                    a.nav-link(href='/event') Evénements
                                li.nav-item
                                    a.nav-link(href='/partners') Partenaires
                                li.nav-item
                                    a.nav-link(href='/actions') Nos actions
        block withoutContainer
        .container
            block content
        block foot
            img.fix(src="/asset/img/bandeau/bleu_slim.png")
        block javascript