
extends layout.pug
block title
    title=titre
block content
    h5.blockquote Le projet alter-egaux dans le monde :
    img.img-fluid.img-responsive(src="/img/partners/sdgpartenersmap.JPG" style="position:relative;z-index:-5000;" width="87%")