
extends layout.pug
block title
    title=titre
block content
    style=paddingvalue
    //- img.img-responsive.mx-auto.d-block(src='asset/img/alteregaux logo.PNG', width='25%')
    h3 Le projet Alter-Egaux
    article(style="font-size:15;")
        .row
            .col-md-4
                p.text-left Des enfants et des jeunes s’engagent par équipe dans une aventure à la rencontre des mondes pour agir et contribuer à l’atteinte des Objectifs de Développement Durable. Par petites équipes, ils s’inscrivent dans une aventure solidaire et citoyenne pour entreprendre des projets. Ils vont devoir organiser des actions variées avec des partenaires et les partager lors d’événements pour exposer et valoriser leurs projets au niveau local, national et international. Confronté à la réalité des actions, ils prennent conscience des enjeux, des facilités et doivent apprendre à s’adapter en développant des compétences avec l’aide d’adultes. Leurs expériences invitent à se questionner sur les valeurs qu’ils portent et la manière de les faire vivre au quotidien pour devenir acteur d’un monde meilleur.
                h5 Les objectifs sont :
                ul
                    li S’engager dans la communauté
                    li S’ouvrir par la rencontre
                    li Accueillir
            .col-md-4 
                p.text-left L’univers de cette aventure & les outils associés :
                ul
                    li Une histoire co-construite, support de l’aventure et de l’imaginaire
                    li Le scoutisme comme méthode éducative – 8 éléments au service du projet
                    li 10 thématiques en lien avec les objectifs de développement durable pour vivre des projets
                    li Des partenaires nationaux et internationaux sur chaque thématique
                    li Des événements à vivre et partager
                    li Des supports pédagogiques pour faciliter et accompagner la mise en place des projets et des événements
                    li Une interface numérique dédiée à la dynamique Alter-Egaux
                    li Des équipes ressources pour alimenter les productions et faire vivre les événements
            .col-md-4
                .rectangle(style="text-align:center;padding:40px;border: solid 1px;width:350;height:180;")
                    i.fa.fa-youtube.fa-5x
                .rectangle(style="text-align:center;padding:40px;border:solid 1px;width:350;height:180;")
                    i.fa.fa-youtube.fa-5x
        .row
                p.text-left ALTER-EGAUX est une aventure solidaire et citoyenne pour aller à la rencontre de l’autre et de soi. Une aventure pour apprendre à se découvrir et s’adapter, par-delà les frontières, proches ou lointaines, environnementales ou sociales. Ce projet vise à contribuer à l’éducation des enfants et jeunes par le développement de leur responsabilisation et de leur autonomie pour construire un réseau social, multiculturel, ancré dans le réel. C’est une démarche construite en 4 étapes qui permet une découverte progressive des thèmes proposés et des événements à vivre en fonction de l’âge, de l’intérêt, de l’autonomie de l’équipe ou du groupe.
                ul
                    li Se sensibiliser à une thématique
                    li Découvrir une ou des réalités
                    li Agir dans la communauté
                    li Valoriser ses actions
        img.img-fluid.img-responsive(src="/asset/img/projet/projet.png" style="position:relative;z-index:-5000;")